# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
simply.db
*.sqlite3

# Secrets & env
.env
*.env
secrets.json
config.py  # if it has secrets

# Logs & temp
*.log
.DS_Store